[Desktop Entry]
Name=Remap Caps Lock (Esc / Ctrl)
Comment=Remaps Caps Lock to Escape on tap and Control on hold in X11
Exec=sh -c "~/.local/bin/remap-caps"
Terminal=false
Type=Application
Categories=Utility;
StartupNotify=false
