[Desktop Entry]
Name=Dynamic Workspaces
Comment=Automatically creates new workspaces when needed and deletes empty ones (GNOME-style)
Type=Service
X-KDE-ServiceTypes=KWin/Script
X-KDE-PluginInfo-Author=morj
X-KDE-PluginInfo-Email=opendesktop@morj.men
X-KDE-PluginInfo-Name=dynamic_workspaces
X-KDE-PluginInfo-Version=3.2.0
X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js
